body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, yellow, gray);
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0,   
 0, 0.3);
}